<a href="https://colab.research.google.com/github/gggwww06/baekjoon_step/blob/main/baekjoon2%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1330

a, b = map(int, input().split())
if a > b:
  print(">")
elif a < b:
  print("<")
else:
  print("==")

5 5
==

In [6]:
# 9498

s = int(input())
if s >= 90:
  print("A")
elif s >= 80:
  print("B")
elif s >= 70:
  print("C")
elif s >= 60:
  print("D")
else:
  print("F")

# print('FFFFFFDCBAA'[int(input())//10])
# '문자열'[인덱스]

90
A

In [9]:
# 2753
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
# 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

year = int(input())
if (year % 400) == 0:
  print("1")
elif (year % 100) == 0:
  print("0")
elif (year % 4) == 0:
  print("1")
else:
  print("0")

# if (y%4==0 and y%100!=0) or y%400==0: print(1)
# else: print(0)

1900
0

In [16]:
# 14681

x, y = int(input()), int(input())
if (x > 0) and (y > 0):
  print("1")
elif (x < 0) and (y > 0):
  print("2")
elif (x < 0) and (y < 0):
  print("3")
else:
  print("4")

# print("3421"[x>0::2][y>0])
# 문자열 슬라이싱 : x>0이면 [1::2] => 인덱스 1(ture)부터 2개간격->"41", x<0이면 [0::2] => 인덱스 0(false)부터 2개간격->"32"
# 문자열 인덱싱 : ex) x>0, y>0 => "41"[1] -> 1, x<0, y<0 => "32"[0] -> 3

9
-13
4

In [20]:
# 2884

h, m = map(int, input().split())
if (m < 45) and (h == 0):
  print(23, m+15)
elif m < 45:
  print(h-1, m+15)
else:
  print(h, m-45)

# print(f"{(h-(m<45))%24} {(m+15)%60}")
# f-string 포맷 : print(f"문자열{변수}문자열{변수}")

0 45
0 0

In [28]:
# 2525

h, m = map(int, input().split())
t = int(input())
print(f"{(h + (t + m)//60) % 24} {(t + m) % 60}")

23 48
25
0 13

In [51]:
# 2480

a = list(map(int, input().split()))
a.sort()
if a[0] == a[2]:
  print(10000 + a[1]*1000)
elif a[0] == a[1]:
  print(1000 + a[1]*100)
elif a[1] == a[2]:
  print(1000 + a[1]*100)
else:
  print(a[2]*100)

# a,b,c=sorted(map(int,input().split()))
# if a==c:print(10000+b*1000)
# elif a!=b and b!=c:print(c*100)
# else:print(1000+100*b)

# print([c,b+10,b*10+100][[a,b,c].count(b)-1]*100)

# *_,a,b,c=sorted(input());
# print(['1'+b,c][a<b<c]+'000'[a<c:])
# *_ : 여러 개의 값을 무시
# '000'[a<c:] : a<c가 참이면 [1:] => '00'

3 5 5
1500

In [52]:
1<2<3

True

In [53]:
a, *_, b = 1, 2, 3, 4, 5
print(_)

[2, 3, 4]